{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Meu Projeto Django{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'pagina/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Zeta Powerlifting 🚀</h1>
        <div class="header-right">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropdown-toggle">{{ user.username }} ⯆</button>
                    <div class="dropdown-menu">
                        <a href="{% url 'cadastrar' %}">New Score</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="login-button" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        <!-- conteúdo da página -->
        {% endblock %}
    </main>
    <footer>
        <p>© 2025 Vitor Santos Duarte</p>
    </footer>
    <script src="{% static 'pagina/js/script.js' %}"></script>
</body>
</html>
