{% extends 'pagina/base.html' %}

{% block title %}Ranking | Zeta Powerlifting{% endblock %}

{% block content %}
<section class="ranking masculino">
    <h2>Ranking Masculino</h2>
    <ul>
        {% for player in ranking_masculino %}
            <li>
                {% if forloop.counter == 1 %}
                    🏆 
                {% elif forloop.counter == 2 %}
                    🥈 
                {% elif forloop.counter == 3 %}
                    🥉 
                {% endif %}
                <strong>
                  <a href="{% url 'perfil_atleta' player.id %}">
                    {{ player }}
                  </a>
                </strong> — 
                {{ player.idade }} anos, {{ player.peso|floatformat:0 }}kg — 
                Total: {{ player.total_kg }}kg — 
                IPF GL Points: {{ player.ipf_gl_points }}
            </li>
        {% empty %}
            <li>Nenhum atleta masculino cadastrado ainda.</li>
        {% endfor %}
    </ul>
</section>

<section class="ranking feminino">
    <h2>Ranking Feminino</h2>
    <ul>
        {% for player in ranking_feminino %}
            <li>
                {% if forloop.counter == 1 %}
                    🏆 
                {% elif forloop.counter == 2 %}
                    🥈 
                {% elif forloop.counter == 3 %}
                    🥉 
                {% endif %}
                <strong>
                  <a href="{% url 'perfil_atleta' player.id %}">
                    {{ player }}
                  </a>
                </strong> — 
                {{ player.idade }} anos, {{ player.peso|floatformat:0 }}kg — 
                Total: {{ player.total_kg }}kg — 
                IPF GL Points: {{ player.ipf_gl_points }}
            </li>
        {% empty %}
            <li>Nenhuma atleta feminina cadastrada ainda.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
